page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
    background-image: url('../../assets/SIGAPP\ Logo\ Bandera\ Rounded.png')
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
