<!--<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>-->
<ion-header>
  <ion-navbar color="red">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Componentes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="ano" color="red" padding>
    <ion-segment-button value="2016">
      2016
    </ion-segment-button>
    <ion-segment-button value="2017">
      2017
    </ion-segment-button>
    <ion-segment-button value="2018">
      2018
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="ano">
    <ion-list *ngSwitchCase="2016">
      <ion-item-sliding *ngFor="let item of items2016">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>Ciclo: {{item.ciclo}}</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="2017">
      <ion-item-sliding *ngFor="let item of items2017">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>Ciclo: {{item.ciclo}}</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="2018">
      <ion-item-sliding *ngFor="let item of items2018">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>Ciclo: {{item.ciclo}}</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>